* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100vh;
}

body {
    background-color: aliceblue;
}

.wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.wrapper > * {
    margin: 20px;
}

aside div {
    margin: 20px;
}

ul {
    margin: 0 25px;
}

.about-me-container {
    margin: 20px 10px;
}

.about-me-container div {
    margin: 5px 0px;
}

.projects-item {
    padding-left: 20px;
}

.about-me-title {
    margin-top: 20px;
}

.contacts-container div {
    margin: 10px;
}
